.authentication-box {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 1080px){
        flex-direction: column;
    }

    & .log-in,
    & .sign-up {
        flex-grow: 1;
        transition: var(--global-transition);
        animation-name: gradient;
        animation-duration: calc(var(--global-transition) * 100);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: paused;

        @media screen and (hover: hover){
            &:hover {
                flex-grow: 2;
                animation-play-state: running;
            }
        }

        @media screen and (hover: none){
            & {
                animation-play-state: running;
            }
        }
    }

    @media screen and (hover: hover){
        & .log-in:not(:hover),
        & .sign-up:not(:hover){
            filter: grayscale(1);
        }
    }

    & .log-in {
        background: linear-gradient(-135deg, var(--main-lightish), var(--info), var(--main-green));
        background-size: 400% 400%;
    }

    & .sign-up {
        background: linear-gradient(135deg, var(--main-lightish), var(--selected-item), var(--main-green));
        background-size: 400% 400%;
    }

    & .modal-wrapper {
        position: relative;
        top: 45%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}