#auto-parts-table {
    border-collapse: collapse;
    width: 100%;

    & td,
    & th {
        padding: 1rem;
        user-select: none;
    }

    & tbody tr:nth-child(even) {
        background-color: var(--main-gray);
    }

    & thead {
        background-color: var(--main-green);
    }

    & tbody tr {
        transition: var(--global-transition);
    }

    & tbody tr td:nth-child(2) {
        padding: 0;

        & div > button:first-of-type {
            cursor: pointer;
            font: inherit;
            background-color: inherit;
            outline: none;
            border: none;
            text-decoration: underline;
        }
    }

    @media screen and (hover: hover) {
        & tbody tr:hover {
            background-color: var(--info);
        }

        & tbody tr td:nth-child(2) div > button:first-of-type:hover {
            color: var(--main-lightish);
        }
    }

    @media screen and (hover: none) {
        & tbody tr:active {
            background-color: var(--info);
        }

        & tbody tr td:nth-child(2) div > button:first-of-type:active {
            color: var(--main-lightish);
        }
    }
}