#auto-parts-table {
    border-collapse: collapse;
    width: 100%;

    & td, & th {
        padding: 1rem;
        user-select: none;
    }

    & tbody tr:nth-child(even) {
        background-color: var(--main-gray);
    }

    & thead {
        background-color: var(--main-green);
    }

    & tbody tr {
        transition: var(--global-transition);
    }

    @media screen and (hover: hover){
        & tbody tr:hover {
            background-color: var(--info);
        }
    }
}