#auto-parts-table {
    border-collapse: collapse;
    width: 100%;

    & td, & th {
        padding: 1rem;
    }

    & tbody tr:nth-child(even) {
        background-color: var(--main-gray);
    }

    & thead {
        background-color: var(--main-green);
    }

    & tbody tr {
        transition: 0.3s;
    }

    & tbody tr:hover {
        background-color: var(--info);
    }
}