* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    --global-transition: 0.3s;
    --main-lightish: rgb(255, 255, 255);
    --main-darkish: rgb(0, 0, 0);
    --main-green: rgb(33, 177, 117);
    --main-gray: rgb(200, 200, 200);
    --secondary-gray: rgb(235, 235, 235);
    --selected-item: rgb(30, 150, 200);
    --info: rgb(18, 175, 223);
    --danger: rgb(255, 0, 0);
    --warning: rgb(216, 121, 43);
}

a {
    text-decoration: none;
    color: var(--main-darkish);
}

main {
    max-width: 98%;
    margin: 2rem auto;
}

.underline-link-animation {
    position: relative;
    transition: color var(--global-transition) ease-in-out;

    @media screen and (hover: hover) {
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 0.2rem;
            background-color: var(--main-lightish);
            transform: scaleX(0);
            transition: transform var(--global-transition) ease-in-out;
        }

        &:hover {
            color: var(--main-lightish);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
    @media screen and (hover: none){
        &:active {
            color: var(--main-lightish);
            border-bottom: 0.2rem solid var(--main-lightish);
        }
    }
}

.primary-btn,
.secondary-btn,
.informational-btn,
.danger-btn,
.disabled-btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    transition: var(--global-transition);
    border: none;
    background-color: var(--main-darkish);
    color: var(--main-lightish);
    user-select: none;
    cursor: pointer;

    @media screen and (hover: hover){
        &:hover {
            background-color: var(--main-green);
        }
    }

    @media screen and (hover: none){
        &:active {
            background-color: var(--main-green);
        }
    }
}

.disabled-btn {
    cursor: not-allowed;
    background-color: var(--main-gray);

    @media screen and (hover: hover){
        &:hover {
            background-color: var(--main-gray);
        }
    }

    @media screen and (hover: none){
        &:active {
            background-color: var(--main-gray);
        }
    }
}

.secondary-btn {
    color: var(--main-darkish);
    border: 0.1rem solid var(--main-green);
    background-color: var(--main-lightish);
}

.informational-btn {
    @media screen and (hover: hover){
        &:hover {
            background-color: var(--info);
            color: var(--main-darkish);
        }
    }

    @media screen and (hover: none){
        &:active {
            background-color: var(--info);
            color: var(--main-darkish);
        }
    }
}

.danger-btn {
    color: var(--main-darkish);
    border: 0.1rem solid var(--danger);
    background-color: var(--main-lightish);

    @media screen and (hover: hover){
        &:hover {
            color: var(--main-lightish);
            background-color: var(--danger);
        }
    }

    @media screen and not (hover: hover){
        &:active {
            color: var(--main-lightish);
            background-color: var(--danger);
        }
    }
}

/* Helper small classes. */
.margin-top-2rem {
    margin-top: 2rem;
}

.margin-top-05rem {
    margin-top: 0.5rem;
}

.margin-bottom-05rem {
    margin-bottom: 0.5rem;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
}

.selected {
    background-color: var(--selected-item) !important;
    color: var(--main-lightish);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.opacity-08 {
    opacity: 0.8;
}

.color-danger {
    color: var(--danger);
}

.color-warning {
    color: var(--warning);
}

.small-text {
    font-size: 0.9rem;
}

.flex-container {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-auto {
    overflow: auto;
}