* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
    --hovered-white: rgb(255, 255, 255);
    --main-green: rgb(33, 177, 117);
    --even-table: rgb(200, 200, 200);
    --info: rgb(18, 175, 223);
    --failure: rgb(255, 0, 0);
    --warning: rgb(241, 245, 2);
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 98%;
    margin: 2rem auto;
}

.underline-link-animation {
    position: relative;
    transition: color 0.3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        height: 3px;
        background-color: var(--hovered-white);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        color: var(--hovered-white);
    }

    &:hover::before {
        transform: scaleX(1);
    }
}

.primary-btn,
.secondary-btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    transition: 0.3s;
}

.primary-btn {
    border: none;
    background-color: black;
    color: white;

    &:hover {
        background-color: var(--main-green);
    }
}

.secondary-btn {
    box-sizing: border-box;
    border: 0.1rem solid var(--main-green);
    background-color: white;

    &:hover {
        background-color: var(--main-green);
    }
}

/* Helper small classes. */
.margin-top-2rem {
    margin-top: 2rem;
}

.margin-top-05rem {
    margin-top: 0.5rem;
}

.margin-bottom-05rem {
    margin-bottom: 0.5rem;
}

.width-full {
    width: 100%;
}