.order-details {
    width: 90vw;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 1rem;
}

.order-box {
    padding: 0.5rem;
    transition: var(--global-transition);
    border-bottom: 0.2rem solid var(--info);
    margin-bottom: 1rem;
    user-select: none;

    @media screen and (hover: hover){
        &:hover {
            background-color: var(--secondary-gray);
            border-bottom-color: var(--main-green);
        }
    }

    @media screen and (hover: none){
        &:active {
            background-color: var(--secondary-gray);
            border-bottom-color: var(--main-green);
        }
    }
}